<div class="about_top">
    <div class="container">
        <div class="about">
            <h1 class="blog_head" style="color: #F94B4B">Your data:</h1>


            <div class="contact">


                <div class="col-md-2 contact_left">

                </div>
                <div class="col-md-8 contact_right">
                    <form ng-submit="adminCtrl.change()">
                        <center>
                            <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                            <div class="clearfix"> </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="firstname">Name:</span>
                                    <input type="text" class="text" id="firstname" ng-model="adminCtrl.userData.firstname" disabled>
                                </div>
                                <div class="text-fild">
                                    <span for="lastname">Surname:</span>
                                    <input type="text" class="text" id="lastname" ng-model="adminCtrl.userData.lastname" disabled>
                                </div>
                            </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="phone">Phone number:</span>
                                    <input type="text" class="text" id="phone" ng-model="adminCtrl.userData.phone" disabled>
                                </div>
                                <div class="text-fild">
                                    <span for="email">Email:</span>
                                    <input type="text" class="text" id="email" ng-model="adminCtrl.userData.email" disabled>
                                </div>
                            </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="address">Address:</span>
                                    <input type="text" class="text" id="address" ng-model="adminCtrl.userData.address" disabled>
                                </div>
                                <div class="text-fild">
                                    <span for="anumber">Andress number:</span>
                                    <input type="text" class="text" id="anumber" ng-model="adminCtrl.userData.anumber" disabled>
                                </div>
                            </div>
                            <div>
                                <div class="text-fild">
                                    <span for="city">City:</span>
                                    <input type="text" class="text" id="city" ng-model="adminCtrl.userData.city" disabled>
                                </div>
                                <div class="text-fild">
                                    <span for="country">Country:</span>
                                    <input type="text" class="text" id="country" ng-model="adminCtrl.userData.country" disabled>
                                </div>
                            </div>

                            <div class="clearfix"> </div>

                            <div align = "Center">
                                <label class="btn1 btn-8 btn-8c"><input type="submit"  value="Edit"></label>
                            </div>
                    </form>

                    </br>
                    </br>

                    <h1 class="blog_head" style="color: #F94B4B">Your snippets:</h1>
                    <div class="tab-1">

                        <div class="tab-1">
                            <div  ng-repeat="s in adminCtrl.allMySnippets">

                                <ul class="tab_img tab_1" >
                                    <li>


                                        <span class="bedrooms last">
                                            <strong>Description</strong>
                                            <a href="single.html">{{s.description}}</a>
                                        </span>
                                        <span class="area first"><strong>Programe language</strong><i></i>
                                            {{s.language.name}}</span>
                                        <span class="bedrooms last"><strong>Exparation date</strong>
                                            {{s.end_date | date : 'dd.MM.yyyy'}}</span>

                                        <h4 class="m_1">{{s.state}}</h4>

                                        <div align = "Center">
                                            <form ng-submit="getAllRealEstatesCtrl.redirect2(o.id)" >
                                                <label class="btn4 btn-82 btn-82c"><input type="submit" value="Edit"></label>
                                            </form>
                                            <form ng-submit="adminCtrl.deleteSnippet(s.id)">
                                                <label class="btn1 btn-8 btn-8c"  ><input  type="submit" value="Delete"></label>
                                            </form>
                                        </div>
                            </div>

                            </li>

                            <div class="clearfix"></div>
                            </ul>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>


    </div>





    <div class="clearfix"> </div>
</div>





<div class="clearfix"> </div>
</br>

</div>
</div>
