<div class="about_top">
    <div class="container">
        <div class="about">
            <h1 class="blog_head" style="color: #F94B4B">Add new snippet</h1>

            <div class="contact" ng-submit="addSnippetCtrl.createSnippet()">

                <div>
                    <div>

                        <form name="descriptionForm">

                            <div class="msg-fild">
                                <span>Description:</span>
                                <input type="text" class="text" ng-model="addSnippetCtrl.newSnippet.description" required value="Enter description here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter description here';}">
                            </div>
                            <div class="text-fild">
                                <span >Enter\Paste input:</span>
                            </div>


                        </form>
                    </div>
                </div>
                <div ui-ace="{
                        onLoad: aceLoaded,
                        onChange: aceChanged
                            }">

                </div>
                <div>
                </div>
                <br>
                <form name="otherForm">
                    <div class="text">
                        <div class="text-fild">
                            <span for="name">Select program language:</span>
                        </div>
                    </div>
                    <div class="text">
                        <div class="text-fild">

                            <select style="line-height: 44px; float:left;
                                border: 1px solid #DAD8D8;
                                width: 370px;" ng-model="addSnippetCtrl.newSnippet.language" required>asf
                                <option style="color: #F94B4B;" ng-repeat="t in addSnippetCtrl.types" value="{{t.name}}">{{t.name}}</option>
                            </select>
                        </div>
                    </div>
                    <div>
                    </div>
                    <div class="text-fild">
                        <div class="text-fild" style="width: 370px;">
                            <span for="username">URL:</span>
                            <input type="text" class="text" id="url" ng-model="addSnippetCtrl.newSnippet.url" required value="Enter url here" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter username here';}">
                        </div>
                        <div class="clearfix"> </div>
                        <span for="end_date">Enter expiration date:</span>
                        </br>
                        <div class="text">
                            <div class="text-fild">

                                <select style="line-height: 44px; float:left;
                                border: 1px solid #DAD8D8;
                                width: 370px;" ng-model="addSnippetCtrl.newSnippet.end_date" required>
                                    <option style="color: #F94B4B;" ng-repeat="t in addSnippetCtrl.expirations" value="{{t.name}}">{{t.name}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>







                <div class="clearfix"> </div>
                <div class="col-md-3 contact_left">

                </div>
                <div class="col-md-6 contact_right">
                    <form>
                        <div align = "Center">

                            <label class="btn1 btn-8 btn-8c"><input type="submit" value="Save"></label>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

