<div class="about_top">
    <div class="container">
        <div class="about">
            <h1 class="blog_head" style="color: #F94B4B">Details of selected snippet</h1>

            <div class="contact" >

                <div>
                    <div>

                        <form>

                            <div class="msg-fild">
                                <span>Description:</span>
                                <input type="text" class="text" ng-model="SingleSnippetAdminCtrl.snippetData.description" disabled>
                            </div>
                            <div class="text-fild">
                                <span >Enter\Paste input:</span>
                            </div>


                        </form>
                    </div>
                </div>
                <div ui-ace="{
                        onLoad: aceLoaded,
                        onChange: aceChanged
                            }">

                </div>
                <div>
                    <!--      <div class="text-fild">
                              <span for="name">Choose programme language:</span> <br>
                          </div> -->
                </div>
                <br>
                <div class="text">
                    <div class="text-fild">
                        <span for="name">Select program language:</span>
                    </div>
                </div>
                <div class="text">
                    <div class="text-fild">

                        <select style="line-height: 44px; float:left;
  							border: 1px solid #DAD8D8;
  							width: 370px;" ng-model="SingleSnippetAdminCtrl.snippetData.language" disabled>
                            <option style="color: #F94B4B;" ng-repeat="t in SingleSnippetAdminCtrl.snippetData.types" value="{{t.id}}">{{t.name}} disabled</option>
                        </select>
                    </div>
                </div>

                <div>


                </div>






                <div class="text-fild">
                    <div class="text-fild" style="width: 370px;">
                        <span for="username">URL:</span>
                        <input type="text" class="text" id="url" ng-model="SingleSnippetAdminCtrl.snippetData.url_reporsitory" disabled>
                    </div>
                    <div class="clearfix"> </div>
                    <span for="end_date">Enter exparation date:</span>
                    </br>
                    <input  style="width: 370px;" type="text" class="text" id="end_date" ng-model="SingleSnippetAdminCtrl.snippetData.end_date | date:'dd.MM.yyyy'" disabled>
                </div>

                <div class="clearfix"> </div>
                <div class="col-md-3 contact_left">

                </div>
                <div class="col-md-6 contact_right">
                    <form>
                        <div align = "Center">

                            <label class="btn1 btn-8 btn-8c"><input type="submit" value="Save"></label>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

