<div class="about_top">
    <div class="container">
        <div class="about">
            <h1 class="blog_head" style="color: #F94B4B">Your data:</h1>


            <div class="contact">


                <div class="col-md-2 contact_left">

                </div>
                <div class="col-md-8 contact_right">
                    <form ng-submit="regUserCtrl.modify()">
                        <center>
                            <img src="{{regUserCtrl.userData.image}}" name="aboutme" width="140" height="140" border="0" class="img-circle"></a>
                            <div class="clearfix"> </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="firstname">Name:</span>
                                    <input type="text" class="text" id="firstname" ng-model="regUserCtrl.userData.firstname" required >
                                </div>
                                <div class="text-fild">
                                    <span for="lastname">Surname:</span>
                                    <input type="text" class="text" id="lastname" ng-model="regUserCtrl.userData.lastname" required >
                                </div>
                            </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="phone">Phone number:</span>
                                    <input type="text" class="text" id="phone" ng-model="regUserCtrl.userData.phone" required>
                                </div>
                                <div class="text-fild">
                                    <span for="email">Email:</span>
                                    <input type="text" class="text" id="email" ng-model="regUserCtrl.userData.email" required>
                                </div>
                            </div>
                            <div class="text">
                                <div class="text-fild">
                                    <span for="address">Address:</span>
                                    <input type="text" class="text" id="address" ng-model="regUserCtrl.userData.address" required >
                                </div>
                                <div class="text-fild">
                                    <span for="anumber">Andress number:</span>
                                    <input type="text" class="text" id="anumber" ng-model="regUserCtrl.userData.anumber" required>
                                </div>
                            </div>
                            <div>
                                <div class="text-fild">
                                    <span for="city">City:</span>
                                    <input type="text" class="text" id="city" ng-model="regUserCtrl.userData.city" required>
                                </div>
                                <div class="text-fild">
                                    <span for="country">Country:</span>
                                    <input type="text" class="text" id="country" ng-model="regUserCtrl.userData.country" required>
                                </div>
                            </div>

                            <div class="clearfix"> </div>

                            <div align = "Center">
                                <label class="btn1 btn-8 btn-8c"><input type="submit"  value="Save"></label>
                            </div>

                            <div align = "Center">
                                <form>
                                    <label class="btn1 btn-8 btn-8c"  ngf-select ng-model="regUserCtrl.file" name="file" ngf-pattern="'image/*'"
                                           ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"
                                           style="color: white" >Select file</label>
                                </form>
                            </div>
                            <div align = "Center">
                                <form ng-submit="regUserCtrl.uploadImage()">
                                    <label class="btn4 btn-82 btn-82c"><input type="submit" value="Upload file"></label>
                                </form>
                            </div>
                    </form>

                    </br>
                    </br>

                    </div>
                </div>
            </div>
        </div>


    </div>





    <div class="clearfix"> </div>
</div>





<div class="clearfix"> </div>
</br>

</div>
</div>
